.index {
    // padding: 65px 0px;

    // 背景
    .slider-bg {
        background-image: linear-gradient(0deg, #48c6ef, #6f86d6 70%);
        position: absolute;
        top: 0;
        left: -25%;
        height: 15rem;
        width: 150%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        z-index: -1;
    }

    // banner 轮播图
    .banner {
        padding: 10px;

        .nut-swiper-item {
            border-radius: 10px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            margin-left: 3px;
        }
    }

    // icons 图标
    .icons {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 60px;
            height: 60px;
            text-align: center;

            &:nth-child(5n) {
                margin-right: 0;
            }

            &:nth-child(-n + 5) {
                margin-bottom: 10px;
            }
        }

        // .name {
        //     font-size: 12px;
        // }

        // .nut-swiper-pagination {
        //     bottom: 6px;
        // }

        // .nut-swiper-inner {
        //     height: auto !important;
        //     width: 710px !important;
        // }

        // .nut-swiper-item {
        //     display: flex;
        //     flex-wrap: wrap;
        // }

        // .nut-grid-item__content--center {
        //     border: 0;
        // }

        // .nut-grid {
        //     border: 0;
        // }

        // .nut-grid-item {
        //     flex-basis: 20% !important;
        // }

        // .nut-grid-item__text {
        //     font-size: 11px;
        // }

        .nut-grid-item__content {
            padding: 10px 5px;
        }
    }

    // 通知
    .notice {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;

        .notice {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .nut-noticebar-page {
            height: 30px;
            font-size: 10px;
            padding-left: 0;
            padding-right: 0;
        }
    }

}